<h3>About</h3>
<p>This is a prototype for demonstrating geospatial and time aggregation across
multiple San Francisco datasets.</p>

<br /><br />

<h3>Datasets available</h3>

<table class="table table-striped">
    <% $.each(datasets, function(i, set){ %>
        <tr>
            <td><%= set.human_name %></td>
            <td class="text-right">
                <% if( set.area_q ) { %>
                    <span class="label label-default"><small>area</small></span>
                <% } %>
                <% if( set.dist_q ) { %>
                    <span class="label label-default"><small>distance</small></span>
                <% } %>
                <% if( set.weighted_q ) { %>
                    <span class="label label-default"><small>weighted</small></span>
                <% } %>
                <% if( set.count_q ) { %>
                    <span class="label label-default"><small>count</small></span>
                <% } %>
                <% if( set.temp_q ) { %>
                    <span class="label label-default"><small>time-series</small></span>
                <% } %>
            </td>
        </tr>
    <% }) %>
</table>
