<h3>About</h3>
<p>This is a prototype for demonstrating geospatial and time aggregation across
multiple San Francisco datasets.</p>

<br /><br />

<h3>Datasets available</h3>

<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Time duration</th>
        <th>Available queries</th>
    </thead>
    <tbody>
    <% $.each(datasets, function(i, set){ %>
        <tr>
            <td>
                <%= set.human_name %>
                <% if( set.demo ) { %>
                    &nbsp;&nbsp;<span class="label label-warning"<small>demo</small></span>
                <% } %>
            </td>
            <td>
                <span class="label label-primary">
                    <small><%= set.duration %></small>
                </span>
            </td>
            <td>
                <% if( set.area_q ) { %>
                    <span class="label label-default"><small>area</small></span>
                <% } %>
                <% if( set.dist_q ) { %>
                    <span class="label label-default"><small>distance</small></span>
                <% } %>
                <% if( set.access_q ) { %>
                    <span class="label label-default"><small>access</small></span>
                <% } %>
                <% if( set.weighted_q ) { %>
                    <span class="label label-default"><small>weighted</small></span>
                <% } %>
                <% if( set.count_q ) { %>
                    <span class="label label-default"><small>count</small></span>
                <% } %>
                <% if( set.temp_q ) { %>
                    <span class="label label-default"><small>time-series</small></span>
                <% } %>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
