<h3>Shapefiles indicators:</h3>

<table class="table table-condensed">
    <thead>
        <th>Dataset</th>
        <th>Value</th>
        <th></th>
        <th>Type</th>
    </thead>
    <tbody>
    <% $.each(resp.objects, function(i, obj){ %>
        <% if (obj.hasOwnProperty('val_attr'))
                var chart_name = obj.dataset_name + '_' + obj.val_attr;
           else
                var chart_name = obj.dataset_name;
        %>
        <tr>
            <td><%= obj.human_name %></td>
            <td>
                <% if (obj.response_type == 'single-value') {  %>
                    <%= obj.value %>
                <% } else { %>
                    <%= obj.values[obj.values.length-1].value %>
                <% } %>
            </td>
            <td>
                <% if (obj.response_type == 'time-series' &&
                       (obj.values.length > 2 ||
                        obj.values[0] == obj.values[1])) {  %>
                    <a data-toggle="collapse" data-parent="#accordion"
                    href=<%= "#collapse_" + chart_name + '_' + obj.query_type%> >See plot</a>
                <% } %>
            </td>
            <td><small>(<%= obj.query_type %>)</small></td>
        </tr>
        <% if (obj.response_type == 'time-series') { %>
            <tr>
                <td colspan="4" class="hidden-row">
                    <div id=<%= 'collapse_' + chart_name + '_' + obj.query_type%> class="accordion-body collapse">
                        <div id=<%= 'chart_' + chart_name + '_' + obj.query_type %> class="chart"></div>
                    </div>
                </td>
            </tr>
        <% } %>
    <% }) %>
    </tbody>
</table>
